header {
  background-image: url('/images/sky.jpg');
  background-size: cover;
  background-position: center;
  height: 150px;
  padding: 10px 0 30px 10px;
  margin-left: -45px;
  margin-right: -45px;
  position: relative;
}

/* DETAILS PAGES */
.ufo-details ul li:nth-child(2), .bigfoot-details ul li:nth-child(2) {
  margin-bottom: 15px;
}

.ufo-details li, 
.bigfoot-details li {
  margin-bottom: 15px;
}

.ufo-details:first-child,
.bigfoot-details:first-child{
  margin-bottom: 0px;
}

header h1 {
  padding: 56px 0 0 166px;
}

form {
  margin-bottom: 10px;
}

footer div {
 padding-top: 10px;
}


.project-img {
 float: left;
  margin-right: 2%;
  width: 20%;
}

.info {
  padding: 2%;
  clear: both; 
  overflow: hidden;
}

.padding {
  margin-bottom: 8%
}

.fourOhFour-view img {
  display: block;
  margin: 30px auto;
}

