#map{
  height: 600px;
  width: 100%;
  margin: 0 auto 0 auto;
}
header::after {
  content: "";
  height: 52px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url("/images/grass.png");
}

.bigfoot-details,
.ghost-details,
.ufo-details,
.about{
  background-color: #EAE0D5;
  padding: 20px 10px 5px 10px;
  margin-top:80px;
  border-radius: 8px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  min-height: 300px;
}

.bigfoot-details li,
.ghost-details li,
.ufo-details li,
.about{
  padding-left: 10px
}

.ghost-details h4, 
.ufo-details h4, 
.bigfoot-details h4,
#about-us h3{

  margin-top: -50px;
  margin-right: 10px;
  font-family: 'Special Elite', cursive;
  font-size: 24pt;
  background-color: #EAE0D5;
  display: inline-block;
  padding: 10px;
  position: absolute;
  border-radius: 10px 10px 0 0;
}

.about h4{
  margin-top: 10px;
}

.mgm-style-pbc h1 {
  font-family: 'Special Elite', cursive;
  font-size: 36pt;
}

.grass {
  width: 100%;
  display: block;
}

.logo {
  float: left;
  position: relative;
  z-index: 2;
  margin-left: 45px;
}

label {
  color: white;
}

h1 a {
  color: white;
  -webkit-text-stroke: .1px black;
  text-shadow: 2px 2px #666666;
  text-decoration: none;
}

.filter{
  color: white;
}
.tab {
  width: 10px;
  height: 20px;
  background-color: #EAE0D5; 
  border-radius-top: 10px;
}

#xLink{
  text-decoration: none;
  float: right;
  color: black;
  font-size: 25px;
  text-shadow: -1px 2px 0px rgba(150, 150, 150, 1);
  margin-top:-10px;
}

div h3 {
  margin-top: 30px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: lightgreen;
  text-decoration: underline;
}

#xLink{
  text-decoration: none;
  float: right;
  color: black;
  font-size: 25px;
  text-shadow: -1px 2px 0px rgba(150, 150, 150, 1);
  margin-top:-10px;
}

.detail-view{
  min-height: 400px;
}

